.control-btn-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

button {
  width: auto;
  height: 30px;
  margin: 0 4px 0 4px !important;
  padding: 0 12px 0 12px !important;
  border: 1px solid rgba(119, 0, 119, 0.76);
  border-radius: 10px !important;
  color: white;
  background-color: rgba(165, 3, 165, 0.705);
  font-size: 14px;

  &:disabled {
    color: rgb(150, 150, 150);
    border-color: rgb(180, 180, 180);
    background-color: rgb(180, 180, 180);
    &:hover{
      border: 1px solid rgb(88, 88, 88);
      color: rgb(73, 73, 73);
      background-color: rgb(134, 134, 134);
    }
  }
  &hover:not([disabled]) {
    border: 2px solid #7807b9c2;
    background-color: #a45ccec0;
    border-color: #e1adffc2;
  }
}



.progress-text {
  height: 25px;
  margin: 0 4px;
  font-size: 18px;
  color: white;
}

.tempo-container {
  margin: 10px;
  color: white;
}

$thumb-color: #0199ff;
$thumb-hover-color: #55c2ff;
$thumb-size: 20px;
$thumb-margin-top: -2px;

.slider-control {
  display: block;
  margin: 10px auto;
  appearance: none;
  width: 80%;
  height: 8px;
  border-radius: 8px;
  cursor: pointer;

  &:focus, &:hover {
    outline: none;
    border: none;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    height: $thumb-size;
    width: $thumb-size;
    margin-top: $thumb-margin-top;
    border-radius: 100%;  
    background-color: $thumb-color; 

    &:focus, &:hover {
      background-color: $thumb-hover-color;
    }
  }

  &::-moz-range-thumb {
    appearance: none;
    height: $thumb-size;
    width: $thumb-size;
    margin-top: $thumb-margin-top;
    border-radius: 100%;  
    background-color: $thumb-color; 
    border: none;

    &:focus, &:hover {
      background-color: $thumb-hover-color;
    }
  }
}
