
.control-btn-container {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  
  button {
    width: 50px;
    height: 25px;
    margin: 0 4px;
    border: 1px solid #a754eba9;
    border-radius: 4px;
    line-height: 0px;
    color: white;
    background-color: #a754eba9;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
  
    &:disabled {
      color: rgb(160, 160, 160);
      background-color: rgb(110, 110, 110);
      border-color: rgb(110, 110, 110);
    }
  }

  button:hover {
    border: 2px solid #7807b9c2;
    background-color: #a322eec2 !important;
    border-color: #a322eec2 !important;
  }
  
  .progress-text {
    height: 25px;
    margin: 0 4px;
    font-size: 14px;
    color: white;
  }
  
  .tempo-container {
    margin: 10px;
    color: white;
  }
  
  $thumb-color: #0199ff;
  $thumb-hover-color: #55c2ff;
  $thumb-size: 20px;
  $thumb-margin-top: -2px;
  
  .slider-control {
    display: block;
    margin: 10px auto;
    appearance: none;
    width: 96%;
    height: 8px;
    border-radius: 8px;
    cursor: pointer;
  
    &:focus, &:hover {
      outline: none;
      border: none;
    }
  
    &::-webkit-slider-thumb {
      appearance: none;
      height: $thumb-size;
      width: $thumb-size;
      margin-top: $thumb-margin-top;
      border-radius: 100%;  
      background-color: $thumb-color; 
  
      &:focus, &:hover {
        background-color: $thumb-hover-color;
      }
    }
  
    &::-moz-range-thumb {
      appearance: none;
      height: $thumb-size;
      width: $thumb-size;
      margin-top: $thumb-margin-top;
      border-radius: 100%;  
      background-color: $thumb-color; 
      border: none;
  
      &:focus, &:hover {
        background-color: $thumb-hover-color;
      }
    }
  }
  