.panel{
    display: flex;
    flex-direction: row;
}

.editor-container{
    width: 50%;
    height: auto;
    margin: 20px 40px 20px 100px;
    padding: 25px;
    border-color: #a14effd7;
    background-color: #4d4b4be1;
    display: flex;
    flex-direction: column;
}

.pallette-text{
    padding: 5px 15px 5px 15px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
}

.dropdown{
    margin: 0 15px 0 15px;
    padding-top: 10px;
    padding-left: 20px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.select-section{
    height: 30px;
    width: auto;
    display: flex;
    margin: 0 10px 0 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius: 15px;
    background-color: #e1adffe0;
}

.regenerate-container{
    position: right;
    width: 50%;
    height: auto;
    margin: 20px 100px 20px 40px;
    padding: 25px;
    background-color: #4d4b4be1;
    display: flex;
    flex-direction: column;
  }

.regenerate-text{
    margin: 0 15px 0 15px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.regenerate-btn{
    width: 200px;
    height: 70px;
    margin: 8px 0 8px 0 !important;
    border: 1px solid rgba(119, 0, 119, 0.76);
    border-radius: 8px !important;
    color: white;
    background-color: rgba(165, 3, 165, 0.705);
    font-size: 20px;
    font-weight: 400;
}

.regenerate-btn:hover{
    transition: 0.25s;
    border: 3px solid #d281d2;
    background-color: #b735b7;
    color: #3f003f;
    font-weight: 550;
    font-size: 25px;
}
